



<div class="container">



<div class ="centered">




    

    <div class="centered fieldfix">
        <%= render '/components/post_form' %><br><br>
        </div>

       <!--MIDDLE STARTS-->



<br />
<br />




<br />





     <!-- ============================================
          HEADER
          =============================================== -->
          

     
     <div class="clearfix"></div>

<!--posts starts-->
 <div class="fieldfix centered">
   
  <% @posts.each_slice(6) do |post| %> 
          <div class="rowp">
          <% @posts.each do |post| %>
          <div class="item preachedge">
          <div class="panel preachedge po-slim">


  <%= render partial: "posts/#{post.post_type}", locals: {post: post} %>

  
  


<%# console %>

 </div>

           
        </div><!-- panel -->
        <% end %>
          </div>
          <% end %>



</div>






   <%# link_to 'Load More Posts', posts_path(:page => @posts.next_page), :class => 'load-more-posts', :remote => true if @posts.next_page %>




<!--preaches ends-->   

</div>
</div>

<br />
<br />
 <%= will_paginate @posts %>

