



<div class="container">



<div class ="centered">




    

    <div class="centered fieldfix">
        <%= render '/components/post_form' %><br><br>
        </div>

       <!--MIDDLE STARTS-->



<br />
<br />




<br />





     <!-- ============================================
          HEADER
          =============================================== -->
          

     
     <div class="clearfix"></div>

<!--posts starts-->
 <div class="fieldfix centered">
   
  <% @posts.each_slice(6) do |post| %> 
          <div class="rowp">
          <% @posts.each do |post| %>
          <div class="item preachedge">
          <div class="panel preachedge">


  <%= render partial: "posts/#{post.post_type}", locals: {post: post} %>
  


<%# console %>

 </div>

           
        </div><!-- panel -->
        <% end %>
          </div>
          <% end %>



</div>






   


<!--preaches ends-->   

</div>
</div>

